@mixin titleFont() {
  font-family: Poppins, sans-serif;
  src: url(../fonts/Poppins-Bold.ttf);
}

@mixin menuFont() {
  font-family: Rubik, sans-serif;
  src: url(../fonts/Rubik-BoldItalic.ttf);
}

@mixin productFont() {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;

}