@import '../../../fonts/fonts.scss';

.product{
  display: grid;
  justify-content: center;

  &__block{
    width: 100%;
  }
  &__title{
    font-size: 23px;
    font-weight: bold;

    &--flex{
      display: flex;
      align-items: center;
      gap:3px;
      margin-bottom: 10px;
    }

    &--icon{
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../../../images/icons/top.svg);
    }

    @include menuFont() 
  }

  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
  }

  &__page{
    border: 1px solid gray;
    border-radius: 10px;
    width: 180px; 

    &--image{
      display: block;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--title{
      padding-top: 10px;
      font-size: 17px;
      line-height: 16px;


      @include productFont() 
    }

   
    &--nalBlock{
      display: flex;
      align-items: center;
      gap: 5px;
      width: 120px;
      border-radius: 5px;
      padding-left: 5px;
      margin-top: 10px;
      margin-left: 10px;
      background-color: #f1f8eb;;
    }

    &--nal{
      font-size: 13px;
      color: #57ae00;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    &--nayavno{
      height: 13px;
      width: 13px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../../../images/icons/nayavno.svg);
    }

  }
}
