@import '../../../fonts/fonts.scss';
@import '../../mixin/mixins.scss';

.subtitle{
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}
.orders{
  @include flexColumn();
  @include productFont();

  &__product{
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    gap: 10px;

    @include flexColumn();
  }

  &__status{
    @include flexColumn();
    gap: 5px;
  }

  &__infoProduct{
    @include flex();

    &--image{
      height: 150px;
      width: auto;
      border-radius: 10px;
    }

    &--title{
      padding-left: 15px;
    }
  }

  &__countProduct{
    @include flex()
  }

  &__line{
    border:1px solid rgb(232, 231, 231);
    border-radius: 5px;
  }

  &__dostavka{
    @include flex();

    &--value{
      font-weight: bold;
    }
  }
}