@import '../../fonts/fonts.scss';

.container {

  &--header {
    width: 100%;
  }
}

.header{
  
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
  }

  &__menu{
    margin-left: 10px;

    &--img{
      height: 30px;
      display: block;
    }
  }

  &__cart{
    margin-right: 10px;

    &--img{
      height: 30px;
      display: block;
    }
  }

  &__title{
    font-size: 25px;
    font-weight: bold;

    @include titleFont()
  }
}