@import '../../fonts/fonts.scss';

.container {

  &--header {
    width: 100%;
  }
}

.header{
  
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
  }

  &__icons{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s;

  }

  &__menu{
    margin-left: 15px;
    background-image: url(../../images/burger.svg);
    
    &:hover{
      background-image: url(../../images/burger-hover.svg);
    
    }
  }

  &__cart{
    margin-right: 15px;
    background-image: url(../../images/cart.svg);

  }

  &__title{
    font-size: 25px;
    font-weight: bold;
    padding-top: 2px;

    @include titleFont()
  }
}