.container {

  &--header {
    width: 100%;
  }
}

.header{
  
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
  }

  &__menu{
    margin-left: 10px;
  }

  &__cart{
    margin-right: 10px;
  }

  &__search{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}